@model IEnumerable<Domain.Models.Category>

@section ItStyle
{
<link rel="stylesheet" href="~/css/ItemStyle.css" asp-append-version="true" />
}


@{
    ViewData["Title"] = "Home Page";
}
<div class="MainCategoryList">
    @foreach(var item in Model)
    {
        <div class="CategoryDiv">
            <div class="CategoryText">
                @Html.ActionLink(item.Name,"WorkList","Work",new {Category=item.Name})
            </div>
        </div>
    }
</div>