.HeadText {
    width: 80%;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 50px;
}

    .HeadText .Subject {
        margin-top: 20px;
        font-size: 32px;
        color: #232323;
    }

    .HeadText .discription {
        margin-top: 10px;
        font-size: 16px;
        color: #6e7e70;
    }

    .HeadText .BtnDiv {
        margin-top: 10px;
        padding: 10px;
        background-color: #45bf55;
        color: #FFF;
        font-size: 16px;
        font-weight: 600;
        border-radius: 7px;
    }

        .HeadText .BtnDiv a:hover {
            color: white;
        }

.MainCategoryList {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
}

    .MainCategoryList .CategoryDiv {
        width: 20%;
        margin-top: 2%;
        padding: 10px;
        min-width: 245px;
        min-height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-family: 'Mulish', sans-serif;
        border-radius: 10px 10px 10px 10px;
        border: 1px solid #adb5bd;
        color: #6e7e70;
    }

        .MainCategoryList .CategoryDiv:hover {
            border: 1px solid transparent;
            -webkit-box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
            box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
        }
