* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;
}


.BodyDiv {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

::selection {
    color: #fff;
    background: rgb(69, 191, 85);
}

.container1 {
    width: 330px;
    background: #fff;
    text-align: center;
    margin-top: 40px;
    padding: 50px 35px 10px 35px;
    -webkit-box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
    box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
}

    .container1 .form-outer {
        width: 100%;
        overflow: hidden;
    }

        .container1 .form-outer form {
            display: flex;
            width: 400%;
        }

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

    .form-outer form .page .title {
        text-align: left;
        font-size: 25px;
        font-weight: 500;
    }

    .form-outer form .page .field {
        display:flex;flex-direction:column;align-items:flex-start;padding-left:4px;
        width: 330px;
        height: 45px;
        margin: 45px 0;
        display: flex;
        position: relative;
    }
    .form-outer form .page .fieldBtn {
        width: 330px;
        height: 45px;
        margin: 45px 0;
        display: flex;
        position: relative;
    }

form .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
}

form .page .field input[type="text"], input[type="password"], input[type="Number"] {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
}

form .page .field select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

form .page .fieldBtn button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: rgb(69, 191, 85);
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s ease;
}

    form .page .fieldBtn button:hover {
        background: #000;
    }

form .page .btns button {
    margin-top: -20px !important;
}

    form .page .btns button.prev {
        margin-right: 3px;
        font-size: 17px;
    }

    form .page .btns button.next {
        margin-left: 3px;
    }

.container1 .progress-bar1 {
    display: flex;
    margin: 40px 0;
    user-select: none;
}

    .container1 .progress-bar1 .step {
        text-align: center;
        width: 100%;
        position: relative;
    }

        .container1 .progress-bar1 .step p {
            font-weight: 500;
            font-size: 18px;
            color: #000;
            margin-bottom: 8px;
        }

.progress-bar1 .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

    .progress-bar1 .step .bullet.active {
        border-color: rgb(69, 191, 85);
        background: rgb(69, 191, 85);
    }

    .progress-bar1 .step .bullet span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .progress-bar1 .step .bullet.active span {
        display: none;
    }

    .progress-bar1 .step .bullet:before,
    .progress-bar1 .step .bullet:after {
        position: absolute;
        content: '';
        bottom: 11px;
        right: -51px;
        height: 3px;
        width: 44px;
        background: #262626;
    }

    .progress-bar1 .step .bullet.active:after {
        background: rgb(69, 191, 85);
        transform: scaleX(0);
        transform-origin: left;
        animation: animate 0.3s linear forwards;
    }

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-bar1 .step:last-child .bullet:before,
.progress-bar1 .step:last-child .bullet:after {
    display: none;
}

.progress-bar1 .step p.active {
    color: rgb(69, 191, 85);
    transition: 0.2s linear;
}

.progress-bar1 .step .check {
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}

    .progress-bar1 .step .check.active {
        display: block;
        color: #fff;
    }
