.MainDiv {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    min-height: 96vh;
    padding: 15px;
}

    .MainDiv .WorkBody {
        border-radius: 10px;
        margin-top: 15px;
        border: 1px solid rgb(213, 219, 219);
        width: 100%;
        font-family: "Mulish", sans-serif;
        width: 70%;
    }

        .MainDiv .WorkBody .NameAndPrice {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgb(213, 219, 219);
            padding-bottom: 6px;
            margin-bottom: 12px;
        }

            .MainDiv .WorkBody .NameAndPrice .Name {
                padding-top: 8px;
                padding-left: 15px;
                font-size: 28px;
                font-weight: bold;
                color: rgb(69, 191, 85);
            }

            .MainDiv .WorkBody .NameAndPrice .Price {
                padding-top: 4px;
                font-size: 22px;
                padding-right: 15px;
            }

                .MainDiv .WorkBody .NameAndPrice .Price .TypeOfPrice {
                    font-size: 12px;
                    color: #adb5bd;
                }

        .MainDiv .WorkBody .Discription {
            padding-left: 15px;
            width: 100%;
            color: rgb(66, 80, 77);
            border-bottom: 1px solid rgb(213, 219, 219);
            line-height: 20px;
            padding-bottom: 6px;
            margin-bottom: 12px;
        }

            .MainDiv .WorkBody .Discription .Text {
                width: 75%;
            }

        .MainDiv .WorkBody .SkDiv {
            width: 100%;
            padding-left: 15px;
            border-bottom: 1px solid rgb(213, 219, 219);
            padding-bottom: 6px;
            margin-bottom: 12px;
        }

            .MainDiv .WorkBody .SkDiv .Skills {
                display: flex;
                flex-wrap: wrap;
                width: 60%;
                color: rgb(66, 80, 77);
            }

                .MainDiv .WorkBody .SkDiv .Skills .SkillHeader {
                    border-radius: 30px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-top: 3px;
                }

                .MainDiv .WorkBody .SkDiv .Skills .Skill {
                    background-color: rgb(213, 219, 219);
                    margin: 3px;
                    border-radius: 30px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 10px;
                    padding-right: 10px;
                }

        .MainDiv .WorkBody .fileList {
            padding-left: 15px;
            color: rgb(66, 80, 77);
            border-bottom: 1px solid rgb(213, 219, 219);
            padding-bottom: 8px;
        }

            .MainDiv .WorkBody .fileList ul li {
                list-style-type: none;
            }

                .MainDiv .WorkBody .fileList ul li .FileA {
                    margin-left: 10px;
                }

        .MainDiv .WorkBody .Times {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border-bottom: 1px solid rgb(213, 219, 219);
            padding-bottom: 12px;
            margin-bottom: 12px;
        }

            .MainDiv .WorkBody .Times .Date {
                font-size: 20px;
                color: #adb5bd;
            }

        .MainDiv .WorkBody .btnrow {
            padding-left: 15px;
            color: #FFF;
            border-bottom: 1px solid rgb(213, 219, 219);
            font-weight: 600;
            display: flex;
        }

            .MainDiv .WorkBody .btnrow .btndiv {
                background-color: rgb(69, 191, 85);
                border-radius: 10px;
                margin: 10px;
                padding: 10px;
            }

                .MainDiv .WorkBody .btnrow .btndiv a:hover {
                    color: #FFF;
                }

        .MainDiv .WorkBody .Comments {
            display: flex;
            padding: 5px;
            justify-content: flex-start;
            flex-direction: column;
        }

            .MainDiv .WorkBody .Comments .Comment {
                margin-top: 10px;
                display: flex;
            }

                .MainDiv .WorkBody .Comments .Comment .image {
                    border-radius: 50px;
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                    background-color: red;
                }

                .MainDiv .WorkBody .Comments .Comment .text {
                    width: 80%;
                    margin-top: 5px;
                }

                    .MainDiv .WorkBody .Comments .Comment .text .Name .writeTime {
                        font-size: 10px;
                        color: rgb(66, 80, 77);
                    }
/*# sourceMappingURL=WorkPAge.css.map */
